*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
main{
    /* border: 2px solid ; */
    height: 510px;
    width: 100%;
    background-color: #2E108E;
    /* background-image: url('./assets/footer-bg.png'); */
    background-image: url("./assets/homepage-illustration.svg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: bottom;
}
nav{
    /* border: 2px solid red; */
    width: 100%;
    height: 100px;
    /* background-color:navy; */
    display: flex;
}
#d1{
    /* border: 2px solid blue; */
    width: 38%;
    height: 100px;
    margin-left: 8.9%;
    line-height: 130px;
}
#d2{
    /* border: 2px solid red; */
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
}
.d3{
    font-size: 16px;
    line-height: 20px;
    color: #fcfcfc;
    /* margin-left: 36px;
    vertical-align: top; */
}
.d3 img{
    /* height: 20px; */
    /* width: 20px; */
    /* margin-top: 5px; */
}
#d2 button{
    height: 49px;
    width: 16%;
    color: #fcfcfc;
    font-size: 16px;
    border-color: #ef1c71;
    background-color: #ef1c71;
    border-radius: 4px;
}
#d4{
    /* border: 2px solid; */
    width: 100%;
    height: 100px;
    text-align: left;
}
#d4 h1{
    color: white;
        font-size: 36px;
    color: #fff;
    line-height: 44px;
    margin: 32px auto;
    font-weight: 800;
    text-align: center;

}
#search{
    
    width: 13%;
    height: 50%;
    background: url(https://magicpin.in/favicon.ico) no-repeat scroll 20px 14px;
    background-size: 20px;
    background-color: #fff;
    padding: 16px;
    padding-top: 12px;
    padding-left: 50px;
    font-size: 16px;
    background-size: 20px;
    line-height: 24px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: initial;
    border: 0;
    margin-left: 27%;
    border-radius: 5px;
}
#search1{
    height: 50%;
    width: 35%;
    border: none;
    border-radius: 4px;
    padding: 8px;
    padding-right: 32px;
    font-size: 14px;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.54);
    vertical-align: top;
    text-align: left;
    text-overflow: ellipsis;
    background-color: white !important;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    margin-left:-1%;
}
#d4 h1 span{
    color: #ef1c74;
}
#sec1{
    /* border: 2px solid red; */
    width: 100%;
    height: 300px;
    
}
#d5{
    /* border: 2px solid blue; */
    width: 62%;
    height: 270px;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    margin-left: 20%;
    
}
#d5 p{
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .87);
    margin: 0 8px;
}
#d5 div{
    background-color: white;
    height: 110px;
    width: 110px;
    border-radius: 70%;
    
}
#d5 div img{
    height: 100px;
    width: 100px;
    border-radius: 70%;
}
#sec3{
    /* border: 2px solid yellow; */
    height: 165px;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 7%;
}
#sec3 div{
    /* border: 2px solid red; */
    width: 80px;
    height: 80px;
}
#sec3 div img{
    height: 70px;
    width: 100px;
}


#sec2{
    /* border: 2px solid blue; */
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    /* grid-gap: 10px; */
    row-gap: 120px;
    column-gap: 120px;
    margin-left: 10%;
    margin-top: 5%;
}
.d{
    /* border: 2px solid red; */
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d p{
    border-radius: 10px;
    background-color: #6561E8;
    color: #fff;
    width: 45%;
    height: 80px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
   
   
}
.d img{
    height: 130px;
    width: 130px;
    
}
.h{
    margin-left: 10%;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    color: #333;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 2px solid; */
}
#sec4{
    /* border: 2px solid; */
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    /* grid-gap: 10px; */
    row-gap: 120px;
    column-gap: 120px;
    margin-left: 10%;
    margin-top: 5%;
}
.s1{
    /* border: 2px solid red; */
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s1 p{
    border-radius: 10px;
    background-color: #6561E8;
    color: #fff;
    width: 45%;
    height: 80px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
}
.s1 img{
    height: 130px;
    width: 130px;
    
}
#as1{
    /* border: 2px solid; */
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px;
    /* grid-gap: 10px; */
    row-gap: 120px;
    column-gap: 120px;
    margin-left: 10%;
    margin-top: 5%;
}
.s2{
     /* border: 2px solid red; */
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s2 p{
    border-radius: 10px;
    background-color: #6561E8;
    color: #fff;
    width: 45%;
    height: 80px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
}
.s2 img{
    height: 130px;
    width: 130px;
    
}
#sec5{
    /* border: 2px solid red; */
    height: 610px;
    width: 100%;
    text-align: center;
    background-image: url('./assets/download-section.png');
}
#sec5 p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
}
#sec5 span{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
#sec5 h1{
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}
#d6{
    /* border: 2px solid lightgrey; */
    height: 90px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 45px;
    margin-left: 30%;
    
}
.s4{
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#d6 img{
    height: 50px;
    width: 50px;
}
#d6 p{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
#sec5 input{
    height: 40px;
    width: 20%;
    /* border-radius: 45px; */
    border: 2px solid lightgrey;
    padding-left: 20px;
}
#sec5 button{
    height: 40px;
    width: 6%;
    border-radius: 5px;
    background-color: #ef1c71;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
#sec5 img :hover{
    cursor: pointer;
}
#d7{
    /* border: 2px solid; */
    height: 220px;
    width: 70%;
    position: absolute;
    position: relative;
    top: -15%;
    left: 15.2%;
    background-color:white;
    display: flex;
    border-radius: 10px;
    
    
}
.c6{
    border: 2px solid red;
    height: 210px;
    width: 50%;
    text-align: center;
}
.c7{
    color: #ef1c74;
    padding-top: 16px;
    font-weight: 700;
    display: block;
}
.c8{
    white-space: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    line-height: 1.4;
    padding: 8px 32px;
}
footer{
    border: 2px solid rgb(0, 255, 51);
    height: 800px;
    width: 100%;
    background-image: url('https://lh3.googleusercontent.com/4c1kkXvzuPf_RXqV1so-Od7heRW9B2glE4m3MAE0rwPSCnzg1oe9A17dLIjRHdNWFQqO5HAQW99-ZmCKPu3qoj3pH28sp8XOiezcSVwY=rw') no-repeat;
}
footer aside{
    /* border: 2px solid red; */
    height: 50px;
    width: 100%;
    display: flex;
}
footer aside p{
    font-size: 18px;
    color: #ef1c74;
    /* margin-left: 7%;
    margin-top: -5%; */
}
#d8{
    border: 2px solid blue;
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4%;
}
#d9{
    border: 2px solid blue;
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.p1{
        color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin: 4px 0;
    margin-left: 4%;
}
#d10{
    border: 2px solid blue;
    height: 240px;
    width: 100%;
    margin-left: 4%;
    display: flex;
    
}
.c3{
    border: 2px solid red;
    height: 220px;
    width: 18%;
}
.c4{
    font-size: 16px;
    line-height: 22px;
    color: #ef1c74;
}
.c5{
    font-size: 14px;
    font-weight: 400;
    padding-right: 32px;
    width: 100%;
    line-height: 1.6;
    overflow: hidden;
    color: #fff;

}
.c5:hover{
    cursor: pointer;
}
hr{
    border: 1px solid  gray;
    width: 90%;
    margin-left: 4%;
}
#d11{
    display: inline-block;
    line-height: 1.38;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
#d12{
    border: 2px solid blue;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.d13{
    border: 2px solid red;
    height:40px;
    width: 10%;
}